<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">   student details </div>
                    <div class="col-md-6" style="text-align: right;"> 
                        <a routerLink="/login1">logout</a> </div>
                </div>
               
            </div>
            <div class="card-body">
                <h3>welcome {{studName}}</h3>
            <table class="table table-striped-columns">
                <tr>
                    <th>student id </th>
                    <th> name</th>
                    <th>opted course</th>
                    <th> obtained grade</th>
                 
                     <th>email</th>
                     <th>password</th>
                </tr>
                <tr >
                    <td > {{ stud.id}}</td>
                    <td >{{stud.name}} </td>
                    <td >{{stud.course}} </td>
                    <td > {{stud.grade}}</td>
                    <td>{{stud.email}}</td>
                    <td>{{stud.password}}</td>
                    
                </tr>
            </table>
               
              
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

